# Dependencies
node_modules

# Production build
.next/

# Development environment
/.env.local
/.env.*.local

# IDE files
.vscode/
.idea/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac OSX files
.DS_Store
